@import '../../../node_modules/bourbon/app/assets/stylesheets/_bourbon';
@import '../../shared/sass/variables';


body {
  padding-top: 200px;
  @include transition(padding .4s $ease-in-out-quad);
  .frame {
    div {
      @include transition(width .4s $ease-in-out-quad, height .4s $ease-in-out-quad);
    }
  }
  &.scrolled {
    padding-top: 85px;
    /*.frame {
      div {
        &:nth-child(1) {
          width: 5px;
        }
        &:nth-child(2) {
          height: 5px;
        }
        &:nth-child(3) {
          width: 5px;
        }
      }
    }*/
  }
}

header {
  border-top: 15px solid #f2ede6;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  height: 200px;
  background-color: rgba(255,255,255,1);
  @include transition(padding .4s $ease-in-out-quad, height .4s $ease-in-out-quad, background-color .4s $ease-in-out-quad, border-width .4s $ease-in-out-quad);
  .logo {
    h1 {
      @include transition(font-size .4s $ease-in-out-quad, line-height .4s $ease-in-out-quad);
      span {
        @include transition(font-size .4s $ease-in-out-quad);
      }
    }
  }
  &.fixed {
    padding: 10px 0;
    height: 85px;
    background-color: rgba(255,255,255,.9);
    .logo {
      h1 {
        font-size: 28px;
        line-height: 24px;
        span {
          font-size: 16px;
        }
      }
    }
  }
}

@media all and (max-width: 991px) {
  html {
    body {
      padding-top: 115px;
      .frame {
        div {
          &:nth-child(1) {
            width: 10px;
          }
          &:nth-child(2) {
            height: 10px;
          }
          &:nth-child(3) {
            width: 10px;
          }
        }
      }
      header {
        border-top-width: 10px;
        height: 115px;
      }
    }
  }
}

@media all and (max-width: 767px) {
  html {
    body {
      padding-top: 113px;
      .frame {
        div {
          &:nth-child(1) {
            width: 8px;
          }
          &:nth-child(2) {
            height: 8px;
          }
          &:nth-child(3) {
            width: 8px;
          }
        }
      }
      header {
        border-top-width: 8px;
        height: 113px;
      }
    }
  }
}