@import '../../node_modules/bourbon/app/assets/stylesheets/_bourbon';
@import '../shared/sass/variables';

portfolio-component {
  display: block;
  width: 100%;
  position: relative;
  z-index: 10;
}
.portfolio {
  .all {
    .item-box {
      .item {
        position: relative;
        display: block;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-position: top center;
        margin-bottom: 30px;
        overflow: hidden;
        img {
          width: 100%;
        }
        .cover {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 10;
          background-color: rgba(0,0,0,.6);
          opacity: 0;
          //@include transform(translateY(100%));
          @include transition(opacity .3s $ease-in-out-quad);
          .info {
            position: absolute;
            bottom: 50px;
            left: 30px;
            max-width: calc(100% - 60px);
            opacity: 0;
            @include transition(opacity .5s .2s $ease-in-out-quad);
            h2 {
              font-family: montserratregular;
              font-size: 22px;
              color: #fff;
            }
            .tags {
              span {
                font-family: montserratlight;
                font-size: 13px;
                color: #fff;
                cursor: pointer;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
        &:hover {
          .cover {
            //@include transform(translateY(0));
            opacity: 1;
            .info {
              opacity: 1;
              h2 {

              }
            }
          }
        }
        &.hidden {
          opacity: 0;
        }
      }
      &.animated {
        &.ng-enter {
          opacity: 0;
          @include transform(translateY(100px));
          @include transition(all .6s);
        }
        &.ng-enter-active {
          opacity: 1;
          @include transform(translateY(0));
        }
        &.ng-leave {

        }
        &.ng-leave-active {

        }
      }
    }
    .no-more-items {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      span {
        font-family: 'montserratlight';
        font-size: 20px;
        display: inline-block;
      }
      &.ng-enter {
        opacity: 0;
        @include transition(transform 1s, opacity 1s);
        @include transform(translateY(-100%));
      }
      &.ng-enter-active {
        opacity: 1;
        @include transform(translateY(0%));
      }
      &.ng-leave {
        opacity: 1;
        @include transition(transform 1s, opacity 1s);
        @include transform(translateY(0));
      }
      &.ng-leave-active {
        opacity: 0;
        @include transform(translateY(-100%));
      }
    }
  }
}