<div class="portfolio" portfolio-directive>
    <div class="all list">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-6 item-box" ng-repeat="item in $ctrl.items"
                 ng-class="{'animated': item.isAnimated}">
                <div class="clearfix visible-md visible-lg" ng-if="$index % 3 === 0"></div>
                <div class="clearfix visible-sm visible-xs" ng-if="$index % 2 === 0"></div>

                <a ui-sref="portfolio.item({item: item.slug})" class="item">
                    <img ng-src="{{::item.thumb}}" alt="{{::item.title.display}}">
                    <div class="cover">
                        <div class="info">
                            <h2 ng-bind-html="item.title.display"></h2>
                            <div class="tags">
                                <span ng-repeat="tag in item.tags">{{::tag.name}}, </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!--<div class="no-more-items" ng-if="!$ctrl.hasMoreItems">
            <span>No more items</span>
        </div>-->
    </div>
</div>