.page {
  position: relative;
  z-index: 15;
  padding: 50px 0 0;
  font-family: montserratlight;
  .page-content {
    > div {
      column-count: 2;
    }
  }
  p {
    margin: 0 0 20px;
    line-height: 1.3;
  }
  .special {
    font-family: 'playfair_displayitalic';
    font-size: 22px;
  }
}

@media all and (max-width: 767px) {
  .page {
    padding: 50px 0 0;
    .page-content {
      > div {
        column-count: 1;
      }
    }
  }
}