@import '../../../node_modules/bourbon/app/assets/stylesheets/_bourbon';
@import 'fonts';
@import 'variables';

//ie sticky footer fix
.flexboxtweener, .flexboxtweener > body {
  height: 100%;
}

h2 {
  font-family: 'montserratlight';
  font-size: 36px;
  margin: 20px 0 10px;
  &.pretty {
    font-family: 'playfair_displayitalic';
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
  }
}

h3 {
  font-family: 'montserratregular';
  font-size: 26px;
}

h4 {
  font-family: 'playfair_displayitalic';
  font-size: 26px;
  text-align: center;
}

body {
  min-height: 100vh;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  font-family: montserratregular;
  .icon {
    display: inline-block;
  }
  .frame {
    div {
      position: fixed;
      z-index: 1000;
      background-color: #f2ede6;
      &:nth-child(1) {
        top: 0;
        right: 0;
        bottom: 0;
        width: 15px;
      }
      &:nth-child(2) {
        right: 0;
        bottom: 0;
        left: 0;
        height: 15px;
      }
      &:nth-child(3) {
        bottom: 0;
        left: 0;
        top: 0;
        width: 15px;
      }
    }
  }
  header {
    padding: 75px 0 45px;
    .logo {
      float: left;
      display: block;
      h1 {
        font-family: montserratsemi_bold;
        font-size: 40px;
        line-height: 30px;
        color: $color-dark-gray;
        margin: 0;
        position: relative;
        z-index: 30;
        span {
          font-family: playfair_displayitalic;
          font-size: 19px;
          display: block;
          color: $color-gray;
          i {
            color: $secondary-color;
          }
        }
      }
      &:focus,
      &:hover {
        text-decoration: none;
      }
    }
  }

  @media all and (max-width: 991px) {
    header {
      padding: 30px 0 20px;
    }
  }

  .main-container {
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    .app-viewport {
      position: relative;
      z-index: 20;
      padding-bottom: 230px;
      img {
        max-width: 100%;
      }
    }
  }

  @media all and (max-width: 991px) {
    .main-container {
      .app-viewport {
        padding-bottom: 180px;
      }
    }
  }
  @media all and (max-width: 767px) {
    .main-container {
      .app-viewport {
        padding-bottom: 120px;
      }
    }
  }

  footer {
    padding-bottom: 40px;
    .info {
      .small-text {
        font-family: montserratlight;
        font-size: 13px;
        color: #919090;
      }
    }
    .footer-logo {
      margin: 0 0 30px;
      text-align: center;
      img {
        display: inline-block;
        max-width: 100%;
      }
    }
    .social-nav {
      text-align: center;
      ul {
        display: inline-block;
        list-style: none;
        margin: 0 auto;
        padding: 0;
        li {
          display: inline-block;
          margin: 0 10px;
          a {
            display: block;
            font-size: 20px;
            margin: 0 15px;
            line-height: 24px;
            @include transition(color .3s $ease-in-out-quad);
            i {
              display: inline;
            }
            &:focus,
            &:hover {
              text-decoration: none;
            }
            &.dribbble {
              color: #f26798;
              &:hover {
                color: $color-gray;
              }
            }
            &.behance {
              font-size: 24px;
              color: #005cff;
              &:hover {
                color: $color-gray;
              }
            }
            &.linkedin {
              color: #006699;
              &:hover {
                color: $color-gray;
              }
            }
          }
        }
      }
    }
    .go-top {
      text-align: right;
      .go-top-link {
        display: inline-block;
        cursor: pointer;
        font-family: montserratlight;
        font-size: 13px;
        color: #919090;
        i {
          display: inline-block;
          margin-left: 5px;
          @include transform(rotate(-90deg));
          @include transition(color .3s);
        }
        &:hover {
          i {
            color: $secondary-color;
          }
        }
      }
    }
    @media all and (max-width: 991px) {
      .footer-logo {
        margin: 0 0 30px;
      }
      .social-nav {
        ul {
          li {
            margin: 0;
            a {
              margin: 0 10px;
            }
          }
        }
      }
    }
    @media all and (max-width: 767px) {
      .footer-logo {
        margin: 0 0 30px;
      }
      .info {
        text-align: center;
      }
      .social-nav {
        margin: 20px 0;
      }
      .go-top {
        text-align: center;
      }
    }
  }
}

.dot-separator {
  column-count: 1 !important;
  display: block;
  margin: 30px 0;
  text-align: center;
  line-height: 1;
  span {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #000;
    @include border-top-radius(100%);
    @include border-bottom-radius(100%);
  }
}