//fonts


//colors
$color-dark-gray: #2b2b2b;
$color-light-gray: #dadada;
$color-gray: #717171;
$color-pink: #ffa2a2;
$color-blue: #006699;

$primary-color: $color-dark-gray;
$secondary-color: $color-pink;