<div class="page" ng-if="$ctrl.page">
    <article class="page-content">
        <h2 class="pretty">{{::$ctrl.page.title.rendered}}</h2>
        <div class="dot-separator"><span></span></div>
        <div ng-bind-html="$ctrl.page.content.rendered"></div>
    </article>
</div>