<div class="page contact-page" ng-if="$ctrl.page">
    <article class="page-content">
        <div ng-bind-html="$ctrl.page.content.rendered"></div>
    </article>

    <!--<nav class="social-nav" id="social-nav">
        <ul>
            <li ng-repeat="item in $ctrl.socialMenu.items" class="{{::item.post_name}}">
                <a href="{{::item.url}}" title="{{::item.post_title}}" target="_blank" class=
                        "{{::item.classes[0]}}">
                    <i class="icon icon-{{::item.classes[0]}}"></i>
                </a>
            </li>
        </ul>
    </nav>-->
</div>