@import '../../node_modules/bourbon/app/assets/stylesheets/_bourbon';
@import '../shared/sass/variables';

page-contact-component {
  display: block;
  position: relative;
  width: 100%;
  .page {
    &.contact-page {
      padding: 50px 0;
      .page-content {
        > div {
          column-count: 1;
        }
      }
      p {
        font-family: 'montserratregular';
        font-size: 20px;
      }
      a {
        color: $primary-color;
        @include transition(color .3s $ease-in-out-quad);
        &:hover {
          color: $color-blue;
          text-decoration: none;
        }
      }
      .social-nav {
        text-align: center;
        ul {
          display: inline-block;
          list-style: none;
          margin: 0 auto;
          padding: 0;
          li {
            display: inline-block;
            margin: 0;
            a {
              display: block;
              font-size: 30px;
              margin: 0 15px;
              @include transition(color .3s $ease-in-out-quad);
              i {
                display: block;
              }
              &:focus,
              &:hover {
                text-decoration: none;
              }
              &.dribbble {
                color: #f26798;
                &:hover {
                  color: $color-gray;
                }
              }
              &.behance {
                color: #005cff;
                &:hover {
                  color: $color-gray;
                }
              }
              &.linkedin {
                color: #006699;
                &:hover {
                  color: $color-gray;
                }
              }
            }
          }
        }
      }
    }
  }
}