@import '../../node_modules/bourbon/app/assets/stylesheets/_bourbon';
@import '../shared/sass/variables';

portfolio-single-component {
  display: block;
  width: 100%;
  position: relative;
  z-index: 10;
  .portfolio-single {
    margin-bottom: 40px;
    .top {
       a {
         display: inline-block;
         font-size: 34px;
         color: $secondary-color;
         @include transition(transform .4s $ease-in-out-quad, color .4s $ease-in-out-quad);
         @include transform(translateX(0));
         &:focus {
           text-decoration: none;
         }
         &:hover {
           text-decoration: none;
           color: darken($secondary-color, 10%);
           @include transform(translateX(-10px));
         }
       }
     }
    .item-content {
      h2 {
        font-family: montserratlight;
        font-size: 26px;
        margin-bottom: 20px;
      }
      .intro {
        color: $color-gray;
        font-family: montserratlight;
        font-size: 16px;
        margin-bottom: 20px;
      }
      &.ng-enter {
        opacity: 0;
        @include transition(opacity .4s $ease-in-out-quad);
      }
      &.ng-enter-active {
        opacity: 1;
      }
      &.ng-leave {
        opacity: 1;
        @include transition(opacity .4s $ease-in-out-quad);
      }
      &.ng-leave-active {
        opacity: 0;
      }
    }
  }
}