<div class="portfolio-single">
    <div class="row">
        <div class="col-md-12">
            <nav class="top">
                <a ui-sref="portfolio.list" title="Portfolio">
                    <i class="icon icon-arrow-left"></i>
                </a>
            </nav>
            <div class="item-content" ng-if="$ctrl.item">
                <h2 ng-bind-html="$ctrl.item.title.rendered"></h2>
                <section class="intro" ng-bind-html="$ctrl.item.intro"></section>
                <div ng-bind-html="$ctrl.item.content.rendered"></div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio" ng-if="$ctrl.seeAlsoItems.length > 0">
    <div class="all list">
        <h4>See also</h4>
        <div class="dot-separator"><span></span></div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-6 item-box" ng-repeat="item in $ctrl.seeAlsoItems"
                 ng-class="{'animated': item.isAnimated}">
                <div class="clearfix visible-md visible-lg" ng-if="$index % 3 === 0"></div>
                <div class="clearfix visible-sm visible-xs" ng-if="$index % 2 === 0"></div>

                <a ui-sref="portfolio.item({item: item.slug})" class="item">
                    <img ng-src="{{::item.thumb}}" alt="{{::item.title.display}}">
                    <div class="cover">
                        <div class="info">
                            <h2 ng-bind-html="item.title.display"></h2>
                            <div class="tags">
                                <span ng-repeat="tag in item.tags">{{::tag.name}}, </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>