@import '../../node_modules/bourbon/app/assets/stylesheets/_bourbon';
@import '../shared/sass/variables';

menu-component {
  display: block;
  width: 100%;
  position: relative;
  .main-menu {
    padding: 20px;
    background-color: rgba(255,255,255,1);
    position: absolute;
    left: 0;
    right: 0;
    top: 12px;
    z-index: 25;
    @include transition(background-color .4s $ease-in-out-quad, top .4s $ease-in-out-quad);
    nav {
      text-align: center;
      ul {
        margin: 0 auto;
        display: inline-block;
        li {
          display: inline-block;
          a {
            cursor: pointer;
          }
        }
      }
      &.main-nav {
        ul {
          padding: 0;
          li {
            a {
              font-family: montserratregular;
              font-size: 25px;
              text-transform: uppercase;
              color: $color-dark-gray;
              display: block;
              position: relative;
              padding: 0 0 5px;
              margin: 0 40px;
              cursor: pointer;
              span {
                height: 0;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: transparent;
                @include transition(height .2s $ease-in-out-quad, background-color .2s $ease-in-out-quad);
              }
              &::after {
                content: "";
                position: absolute;
                right: -40px;
                top: 15px;
                width: 5px;
                height: 5px;
                background-color: $color-dark-gray;
                @include border-top-radius(100%);
                @include border-bottom-radius(100%);
              }
              &:focus {
                text-decoration: none;
              }
              &:hover {
                text-decoration: none;
                span {
                  background-color: $color-dark-gray;
                  height: 2px;
                }
              }
            }
            &:last-of-type {
              a {
                &::after {
                  display: none;
                }
              }
            }
          }
        }
      }
      &.social-nav {
        margin-top: 40px;
        ul {
          padding: 0;
          li {
            a {
              display: block;
              color: $color-gray;
              font-size: 40px;
              margin: 0 15px;
              @include transition(color .3s $ease-in-out-quad);
              &:focus,
              &:hover {
                text-decoration: none;
              }
              &.dribbble {
                &:hover {
                  color: #f26798;
                }
              }
              &.behance {
                &:hover {
                  color: #005cff;
                }
              }
              &.linkedin {
                &:hover {
                  color: #006699;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 991px) {
  menu-component {
    .main-menu {
      //top: 100px;
      nav {
        &.main-nav {
          ul {
            li {
              a {
                font-size: 22px;
                margin: 0 10px;
                padding: 10px;
                &::after {
                  top: 22px;
                  right: -15px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 767px) {
  menu-component {
    .main-menu {
      nav {
        &.main-nav {
          ul {
            li {
              display: block;
              a {
                margin: 0;
                &::after {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

body.scrolled {
  .main-menu {
    //top: 70px;
    background-color: rgba(255,255,255,.9);
  }
}

//transitions
.main-menu {
  &.ng-enter {
    @include transform(translateY(-100%));
    opacity: 0;
    @include transition(all .4s $ease-in-out-quad);
  }
  &.ng-enter-active {
    @include transform(translateY(0));
    opacity: 1;
  }
  &.ng-leave {
    @include transform(translateY(0));
    opacity: 1;
    @include transition(all .4s $ease-in-out-quad);
  }
  &.ng-leave-active {
    opacity: 0;
    @include transform(translateY(-100%));
  }
}
