<div class="main-menu" id="main-menu" ng-if="$ctrl.menuService.isOpened" >
    <div class="row">
        <div class="col-md-12">
            <nav class="main-nav" id="main-nav">
                <ul>
                    <li ng-repeat="item in $ctrl.mainMenu" class="">
                        <a ui-sref="{{::item.attr_title}}" title="{{::item.post_title}}" class="">{{::item.post_title}}
                            <span></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <nav class="social-nav" id="social-nav">
                <ul>
                    <li ng-repeat="item in $ctrl.socialMenu" class="{{::item.post_name}}">
                        <a href="{{::item.url}}" title="{{::item.post_title}}" target="_blank" class=
                                "{{::item.classes[0]}}">
                            <i class="icon icon-{{::item.classes[0]}}"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>