<div class="loader" ng-if="$ctrl.loaderService.isActive">
    <div class="center">
        <div class="icon">
            <em></em>
            <em></em>
            <em></em>
        </div>
</div>
</div>