@import '../../node_modules/bourbon/app/assets/stylesheets/_bourbon';
@import '../shared/sass/variables';

menu-button-component {
  display: block;
  width: 100%;
  position: relative;
}

.hamburger-icon {
  display: block;
  width: 30px;
  height: 25px;
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 30;
  float: right;
  span {
    width: 30px;
    height: 5px;
    position: absolute;
    left: 0;
    background-color: #000;
    &:nth-child(1) {
      @include transform-origin(0 0);
      top: 0;
      @include transition(transform .4s $ease-in-out-quad, background-color .4s $ease-in-out-quad);
    }
    &:nth-child(2) {
      top: 10px;
      @include transition(opacity .4s $ease-in-out-quad, background-color .4s $ease-in-out-quad);
    }
    &:nth-child(3) {
      top: 20px;
      @include transform-origin(0 100%);
      @include transition(transform .4s $ease-in-out-quad, background-color .4s $ease-in-out-quad);
    }
  }
  &:hover {
    span {
      background-color: $secondary-color;
    }
  }
  &.toggled {
    span {
      &:nth-child(1) {
        @include transform(rotate(45deg));
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        @include transform(rotate(-45deg));
      }
    }
  }
}