<button type="button" class="hamburger menu-hamburger hamburger-icon" id="toggle-menu-button"
        ng-click="$ctrl.onClick($event)" ng-class="{toggled: $ctrl.menuService.isOpened}">
    <span></span>
    <span></span>
    <span></span>
</button>